[2016-04-29 10:30] dpsnowden opened #1 "Create a metric from GDAC holdings measuring number of long time series."
Long time series are the main product of the OceanSITES community.  Currently long time series are collected in the [DATA_GRIDDED](http://dods.ndbc.noaa.gov/thredds/catalog/oceansites/DATA_GRIDDED/catalog.html) directory of the THREDDS servers.

The goal is to work with PIs to create scientifically valid, long term time series that result from combining multiple individual deployments into a singl

[2016-04-29 16:56] dpsnowden opened #2 "Work with LOCO data managers to correct errors in the time vector"
The time variable in all of the LOCO-MOZCHANNEL ADCP files is wrong.  See the [index file](ftp://data.ndbc.noaa.gov/data/oceansites/oceansites_index.txt) start/end dates or the global attributes `time_coverage_start, time_coverage_end`.  An example file is [here](http://dods.ndbc.noaa.gov/thredds/dodsC/oceansites/DATA/LOCO-MOZCHANNEL/OS_LMC4_200603_ADCP_bottom.nc.html).

All of the other LOCO data

[2016-04-29 17:06] dpsnowden opened #3 "Update links on oceansites.org/data and dods.ndbc.noaa.gov/oceansites."
There are four URLs that we should be pointing people toward to access data.  While we might change this UI in the future, for now we should be consistent with listing data access locations uniformly.

Currently [oceansites.org/data](oceansites.org/data) lists the Ifremer FTP server and the NDBC THREDDS server.  Please include all five links below on oceansites.org/data.

[NDBC OceanSITES Web Page

[2016-04-29 17:10] dpsnowden opened #4 "Write short document describing organization of the Google Drive folders and document version strategy."
@dpsnowden will write a draft and circulate and include a description of how we can use GDrive for notes in addition to version controlled documents.

[2016-04-29 17:12] dpsnowden opened #5 "Update Data Users Guide"
Mathias to update the current data users guide and publish.

[2016-04-29 17:16] dpsnowden opened #6 "Document connections to other communities like BioGeoChem in manuals"
During the discussion Benjamin noted that the standards pushed by OceanSITES don't reference other communities such as the BioGeoChem communities.  @ngalbraith volunteered to look in to this issue and determine how to document this in the Data Users/Providers guides or the OceanSITES Data Reference Guide.

[2016-04-29 17:22] dpsnowden opened #7 "Collect code examples and populate new Github repo"
Nathan volunteered to assemble the existing scripts that might be useful to anyone trying to read/write OS files.  After assembling the files we should create a new repo and populate it with the example code.

I strongly urge us not to use this repo for that purpose.

[2016-04-29 17:26] dpsnowden opened #8 "Investigate having OceanDataView output oceansites files"
Benjamin volunteered to investigate adding this capability to ODV.

[2016-04-29 17:34] dpsnowden opened #9 "Add Ifremer compliance checker links to oceansites.org/data"
Thierry and Champike volunteered to put links to the Ifremer compliance checker on the oceansites.org/data page.

[2016-04-29 17:37] dpsnowden opened #10 "Determine whether delayed mode files should replace real time files."
There was a discussion about whether R files should be replaced by D files when they become available.

[2016-04-29 17:38] dpsnowden commented on #10
The decision was to keep all files.

[2016-04-29 17:38] #10 closed

[2016-04-29 17:40] dpsnowden opened #11 "Remove recommendation to have oceansites_version attribute in the file."
Change data format guide to remove the oceansites version global attribute and use the CF recommended `Conventions: CF-1.6 Oceansites-1.3`.

[2016-04-29 17:42] dpsnowden opened #12 "GDACs create site report by crawling THREDDS catalog"
Determine a SITE by SITE report that we can use to see how current submissions are. Possibly from the index files.  Jing/Thierry

[2016-04-29 17:45] dpsnowden opened #13 "Investigate severity of the errors detected at the GDAC"
Karen/Jing/Thierry volunteered to investigate the severity of the errors detected by the GDAC and make a recommendation to proceed.

*	Site code problems: 477 data files
*	Platform code problems: 509 data files
*	Unknown institution: 1 file
*	Unknown PI: 1 file
*	Unknown convention: 2883 data files
*	Unknow vertical range: 79 data files
*	Time dimension starting at 1950-01-01T00:00:00Z: 21258 (ove

[2016-04-29 18:18] MBARIMike commented on #2
Looks like the data values are way negative:

Dataset {
    Float64 TIME[TIME = 4];
} oceansites%2fDATA%2fLOCO-MOZCHANNEL%2fOS_LMC4_200603_ADCP_bottom%2enc;
---------------------------------------------
TIME[4]
-673418.6446983797, -673418.6238650463, -673418.6030317129, -673418.5821983797

[2016-04-29 20:39] ngalbraith opened #14 "Organize DMT documents on Google Drive"
Our 3 current draft documents are now in DMT Business / DMT Documents / WorkingDocuments. I think this has been shared with all who need to edit it, but I may have missed some.

[2016-04-29 20:40] ngalbraith commented on #11
I believe this is used by the GDAC software. I've asked Jing and Thierry if they can use the Conventions attribute instead.

[2016-04-30 07:28] dpsnowden commented on #11
Email response from Jing

Nan,

This issue was not raised by Derrick first. I believed he just recalled the issue I discussed during my presentation at the OceanSITES meeting this week. I can identify ~28000 data files having version OceanSITES 1.2 or 1.3 based on the Convention attribute. But there are 3000~4000 data files for which their versions can not be recognized from the Convention attribu

[2016-04-30 07:29] dpsnowden commented on #11
Response from Nan,

Thanks, Jing -

I thought I was paying close attention, but I missed the
agreement to drop the format_version attribute. That's
great - it's listed in the manual as being a GDAC requirement.

[2016-04-30 07:35] dpsnowden opened #15 "Webinar on DOI strategy currently being planned for DYFAMED"
Thierry will present the DYFAMED DOI strategy on a future DMT call.  Tentatively scheduled for the June 2016 call.

[2016-04-30 07:47] dpsnowden opened #16 "Register OceanSITES metadata in IOOS Catalog"
IOOS metadata catalog is an implementation of CKAN.  The basic catalog is populated and an OceanSITES organization already exists.  But, there is some QC needed.
- IOOS Catalog: http://data.ioos.us/
- OceanSITES organization in IOOS Catalog: http://data.ioos.us/organization/oceansites

Currently there are over 12000 data sets.  We should discuss exactly what we want to promote here.  All DATA or j

[2016-04-30 07:49] dpsnowden opened #17 "Register OceanSITES metadata in EUDAT"
Thierry

[2016-04-30 07:50] dpsnowden opened #18 "Register OceanSITES metadata in B2FIND"
Thierry

[2016-04-30 07:51] dpsnowden opened #19 "Register OceanSITES in GEOSS Discovery and Access Broker"

[2016-04-30 07:53] dpsnowden opened #20 "Register OceanSITES metadata in IODE Ocean Data Portal"
http://www.oceandataportal.org/

We need to understand their harvesting plan.  Daily, weekly, one time?  Where do we point them?  All data or just long time series?

[2016-04-30 07:57] dpsnowden opened #21 "Discuss NCEI DOI minting"
NCEI has the capability to mint DOIs for archive packages.  Need more info on how this might work before we commit.

Karen/Jing/Derrick

[2016-04-30 08:03] dpsnowden opened #22 "Document WMO ID - PLATFORM link in Metadata spreadsheet"
Champika

Edit the JCOMMOPS public metadata to include OceanSITES-WMO ID link as documented in OceanSITES catalog spreadsheet.  This link is necessary to track real time distribution on the GTS via [OSMC](http://www.osmc.noaa.gov).  Search for "OceanSITES" on the main monitoring screen.

[2016-04-30 08:08] dpsnowden opened #23 "Update the OceanSITES Platform Categories"
Champika

Using the new categories, update the maps.

[2016-04-30 08:19] dpsnowden commented on #12
@MBARIMike can you share the thredds_crawler code that you showed me?  I think we'd like to crawl the catalog and generate stats for each file and/or site.  The crawler plus compliance-checker could be useful.

[2016-04-30 08:21] dpsnowden opened #24 "Address the issue of multiple platforms at the same locations."
Champika

Recreate the maps keeping in mind that a SITE can contain multiple platforms.  Currently only latest platform Discuss with Nathan to clarify the issue.

[2016-04-30 08:23] dpsnowden opened #25 "Add Ifremer web stats links to oceansites.org/data"
Thierry/Champika

Put the Ifremer web site stats URL on the oceansites.org web page

[2016-04-30 08:28] dpsnowden opened #26 "Assemble the metrics from the NOAA Data Management Plans"
Jen S-A

NOAA suggests metrics for data management plans and they will likely be required of all NOAA PIs in the coming year.  They may also be useful for other non-NOAA PIs.  Assemble the metrics here to determine if we can autmoate the collection.

[2016-04-30 08:32] dpsnowden opened #27 "Metrics: Number of time series longer than X years"
Long time series are one of the primary goals fo OceanSITES.  Can we calculate the number of products in the PRODUCT( or whatever replaces DATA_GRIDDED) directory that have length greater than 2, 5, 10, 20 years?

@MBARIMike this is the application I was thinking of for the thredds_crawler script.

[2016-04-30 08:34] dpsnowden opened #28 "Create ERDDAP instance aggregating long time series in the DATA_GRIDDED directory"
Kevin O

We decided to focus the ERDDAP efforts on the product (formerly data_gridded) directory initially.

[2016-04-30 08:52] MBARIMike commented on #12
I can throw something together and put it somewhere here. Should we make a directory? Something like "scripts", "python", or "utilities"?

[2016-04-30 09:28] dpsnowden commented on #12
Don't know what makes the most sense.  If we are successful in collecting several utilities we should probably have separate repositories if they are truly separate pieces.  On the other hand, there's a learning curve.

I was thinking that this repo was primarily ofr tracking high level actions and not all the issues associated with an individual script/application that we want to jointly develop.

[2016-04-30 09:42] MBARIMike commented on #12
I'll start a collection of scripts in a `utilities` directory here. If it grows too big we can graduate it to another repo. There's a balance to achieve between a proliferation of repos as well...

[2016-04-30 09:44] MBARIMike commented on #12
The issue https://github.com/asascience-open/thredds_crawler/issues/16 needs to be addressed before my `site_report.py` script will work well for others.

[2016-06-08 00:02] dpsnowden commented on #4
Note, this **_proposal_** does not include a discussion of the root folder structure as discussed in #14
Please edit this post or add to the thread with new recommendations.  Let's close this quickly as it defines how we will work on a large part of our near term work plan.

Nomenclature:
*  Google Docs format vs MS Word document uploaded to Google Drive:
  * One can publish many file types to goo

[2016-06-08 00:05] dpsnowden commented on #14
Moving an email thread here for group discussion, resolution etc.

From Nan
To DMT
2016-06-07

...
I'm still having a little trouble finding/using the google drive versions of the
DMT documents, and just moved some from the main 'DMT documents' folder
into the 'working documents' sub-folder. There seem to be a lot of duplicates
in that folder, and I'm not sure why that's happening - is it somethin

[2016-06-08 00:07] dpsnowden commented on #14
We need to devise a GDrive folder structure.  A draft version control strategy is described in #4

OceanSITES
   +--EC
   +--DMT
       +--Docs
       +--

[2016-06-08 14:51] hmsnaith commented on #4
So, if i understand discussion at today's meeting - we add an extra role / step at 7.
'Publisher' or 'approver' - which may need to be DMT chair - to get this 'final version' signed off by OceanSITES EB

[2016-06-28 10:32] hmsnaith commented on #7
By 'new repo' - would that be parallel to the dmt repo under oceansites?
Maybe oceansites/code_snippets? or something like that, as we aren't putting together a 'package', but a collection

[2016-07-13 14:20] dpsnowden opened #30 "Create human readable symbolic links to the DATA and DATA_GRIDDED directories."
Create soft links; do not actually move files.  Jing/Thierry to discuss details.

The general problem that the steering team asked us to deal with is that the DATA and DATA_GRIDDED are not easily understandable.

[2016-07-13 14:49] tcarval commented on #30
I just created the following soft links on Ifremer GDAC:
DATA                                    ->           deployment_data
DATA_GRIDDED               ->            long_timeseries

Can you confirm that this is what we want ?
ftp://ftp.ifremer.fr/ifremer/oceansites/

[2016-07-13 15:27] dpsnowden commented on #3
@tcarval is there an equivalent page at Ifremer to the NDBC info page?  Something that is for humans to view and learn about the OceanSITES GDAC at IFremer?  If so, please post here.

Also, could you add the ERDDAP endpoint to this issue so that we can update web pages accordingly.

[2016-07-13 15:29] dpsnowden commented on #28
@tcarval  and @kevin-obrien has there been any discussion on strategy for doing this?

[2016-07-13 15:30] dpsnowden opened #31 "Ingest SOOS data into OceanSITES"
Step one is to contact the data manger and determine their capabilities and goals.

[2016-07-13 15:32] dpsnowden commented on #30
@jing-at-ndbc can you confirm this is the desired result?  Will this propagate to THREDDS also?

@ngalbraith is this your understanding of the goal?

[2016-07-13 16:46] ngalbraith commented on #30
Yes, this looks right to me, after prowling a bit and seeing that deployment_data and long_timeseries contain the same files as DATA and GRIDDED_DATA, respectively.

It's not obvious, looking at the ftp site in a web browser, that the new 'directories' are directories - but I don't suppose many people come in that route, via a browser to that URL.

What I expected to see (where symbolic links are

[2016-07-13 16:58] dpsnowden commented on #30
Before closing we need to confirm that the change has also been made at NDBC and that we understand what to do to make the change visible on THREDDS (and ERDDAP if necessary).

[2016-07-13 16:58] ngalbraith commented on #14
I think I replied to this via email,  I'm adding my proposal here.

If the approved docs are in a single 'directory' we can make them public and keep the working versions private more easily. The public folder would have PDFs and MSWord versions of the DMT dcuments, with the working directory containing google docs files. (There is an issue with our MSWord format, which is an IFREMER design that d

[2016-07-13 17:23] kevin-obrien commented on #28
@dpsnowden  - As you know, we've received some funding from BEDI to do just this.  However, it will be later in November when NDBC can put some time to this.  Until then, I do have a copy of some of the data and am experimenting with it in ERDDAP.....

[2016-07-18 09:30] cgallage commented on #3
Five links are added to the OceanSITES webpage @ http://www.oceansites.org/data/index.html
on 18/07/2016

[2016-07-21 14:48] jing-at-ndbc commented on #30
Agree with Nan on her comments. I have added the soft links to NDBC THREDDS server and two FTP servers.

[2016-08-01 15:43] dpsnowden commented on #14
We discovered that @champikagallage has to share the tope level "OceanSITES" folder with everyone in order for them to be able to see the driectory tree we created.  Previously only link sharing was enabled so the team could see the docs only if the link was sent to them.

[2016-08-01 15:47] dpsnowden commented on #14
At this point we opted for a the solution described [here](https://github.com/oceansites/dmt/issues/14#issuecomment-224450939).  This is a decision we made on 2016-08-01 but if it proves unwieldy we can revisit.  The directory structure has been implemented on Google DRive and if you require access contact @cgallage

[2016-08-01 15:47] #14 closed

[2016-08-01 16:14] cgallage commented on #31
Details on Action item
Investigate what NACLIM and OSNAP stations are (not)included in OceanSITES at the moment ( DMT invite OSNAP and SOOS to OceanSITES)
Comments:   Assign NACLIM and OSNAP to Thierry.  Assign SOOS to Derrick to get started.

[2016-08-01 16:17] cgallage opened #32 "A "helpdesk/tech. support" for OceanSITES data users."
Determine a better way to distribute the tech support role across DMT. (“Adopt a PI”, rotating help disk etc)

[2016-08-01 16:20] cgallage opened #33 "Create a repository for code sharing at github.com/oceansites"
Create a repository for code sharing at github.com/oceansites. (e.g., github.com/ioos and ioos.github.io)

[2016-08-01 16:21] cgallage opened #34 "Website enhancements to create a better knowledge base."
Task team on website

[2016-08-01 16:22] cgallage opened #35 "Mechanism to semi-automatically scans the number of record holdings"
Invent mechanism that semi-automatically scans the number of record holdings; need a more detailed questionnaire/template to have operators click on all variables measured and how frequently will they submit those variables, (do we have all variables and for the entire time period expected?). How many OceanSITES are on GTS and how many should be? What’s the difference?

[2016-08-01 16:26] cgallage opened #36 "Identify information GDAC holdings; variables, data time periods"
Curently it is impossible to analyze which variables we have vs which variables SHOULD be there. Same for time period of data expected (from catalog) vs time period actually in the GDACs. Start to work on identifying this information

[2016-08-02 16:56] MBARIMike commented on #7
How about a general repository name like "software"? I added a "utilities" directory to this repo where I put compliance_report.py software (violating the urging of @dpsnowden) . If we make a software repo I can move it there.

[2016-08-04 15:03] ngalbraith commented on #5
Note: this task is tightly tied to shortening the Data Format Reference Manual. The text for the Data Users' Guide is supposed to be removed from the DFRM - this should NOT be yet more text!

[2016-08-10 14:30] hmsnaith commented on #33
Anyone object to me adding a 'software' repo to oceansites as suggested in #7 ? Respond by Wednesday 17 Aug!

[2016-08-10 23:46] dpsnowden commented on #33
No objections from me.  I suppose I don't care as much how this happens as long as it does happen in a way that all of the DMT can understand.  @mbarimike  or @hmsnaith, whoever acts first, can you close this issue when you're done?

[2016-08-17 16:01] hmsnaith commented on #7
New repo called software now setup - @MBARIMike  can you move your utilities into the new repo now?

[2016-08-17 16:03] hmsnaith commented on #33
software repo setup next to dmt repo - now just populate it!

[2016-08-17 16:14] hmsnaith opened #37 "Can't take assignment of issue, or mark as closed"
I'm trying to take the assignment for #33 to be able to mark as closed, but don't seem to be able to.
Am I being dim? or do I need extra permissions somewhere?
I can, clearly, add new issues!

[2016-08-23 17:03] jing-at-ndbc commented on #28
I had mentioned this with IT managements in several meetings. IT agreed to give a higher priority of Tomcat/THREDDS/ERDDAP on a new web server, while IT have several main web servers now in progress of upgrade. We will see how soon IT can arrange a new Tomcat/ERDDAP testing environments for this effort.

[2016-09-15 23:50] MBARIMike commented on #33
I moved the utilities folder from the dmt repository to the compliance_report folder in the software repository. The Pull Requests https://github.com/oceansites/dmt/pull/38 and https://github.com/oceansites/software/pull/1 need to be merged for the move to be completed.

[2016-09-16 13:53] dpsnowden commented on #31
Created separate issues for NACLIM and OSNAP.  This issue relates only to SOOS.

[2016-09-16 13:55] dpsnowden opened #39 "Troubleshoot NACLIM and OSNAP data"
At Southampton it was noted that there were some issues with the NACLIM and OSNAP data sets.  Thierry volunteered to investigate but at this point it's unclear exactly what those "issues" are.  Suggest looking forst at basic compliance and the length of the records.  Below is the action from Champika's notes.

Investigate what NACLIM and OSNAP stations are (not)included in OceanSITES at the moment

[2016-09-16 13:58] dpsnowden commented on #33
Closing this.  The basic repo is in place for action tracking and a general code repo also exists.  Thanks @MBARIMike

[2016-09-16 13:58] #33 closed

[2016-09-16 13:59] dpsnowden commented on #30
Closing per @ngalbraith review.  @jing-at-ndbc or @tcarval pleae feel free to close issues assigned to you that are complete.  If you generate a pull request in order to complete your task, have some else merge the code/documentation changes based on their review.

[2016-09-16 13:59] #30 closed

[2016-09-16 14:01] dpsnowden commented on #7
Closing this as it is duplicative of #33 which is also closed.

[2016-09-16 14:01] #7 closed

[2016-09-16 14:53] dpsnowden opened #40 "Ingest new NACLIM products and serve via ERDDAP"
There are new products from the [NACLIM](http://www.naclim.eu/) project that we should include in the OceanSITES products repository.  Work with Johannes to determine a path forward.

[2016-09-16 21:41] dpsnowden commented on #37
I didn't see this until after I already closed #33.  Not sure if there are permissions issues but I assume anyone can assign themselves work.

[2016-09-22 11:38] dpsnowden commented on #37
@hmsnaith is this resolved? If so can you close?

[2016-09-22 11:40] dpsnowden commented on #16
@mwengren and @lukecampbell  just drawing your attention to this.

[2016-09-22 11:54] hmsnaith commented on #37
@dpsnowden I can't assign myself issues. According to the help (https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/) I should see a check-box next to the issue, to select then assign the task. I don't get the check-box, so I can't assign the issue to myself

[2016-10-11 19:57] dpsnowden commented on #37
@hmsnaith what if you click to the issue page such as this one.  #37 Do you see the  "Assignees" menu to the right of the page?  If so, can you click on it?  That's where I see the pull down menu.  I do not have a checkbox in the larger issue list either.

[2016-10-11 19:58] dpsnowden commented on #37
@hmsnaith actually I just discovered that I do have a check box in the issue list.  I suppose there are two ways to assign issues.  I'll look into your permissions.

[2016-10-11 20:31] dpsnowden opened #41 "Submit MOVE PIES data to GDAC"
From Mantis.

[2016-10-11 20:32] dpsnowden opened #42 "Get rid of CCE1_sos directory on GDAC"
From Mantis.

[2016-10-11 20:34] dpsnowden commented on #5
From Mantis.
"add reference to netCDF, ACDD, and CF to manual or user documentation"

I'm assuming this Mantis action is related to the users guide so I did not create a new issue.  @matthiaslankhorst do you agree?

[2016-10-11 20:35] dpsnowden opened #43 "get rid of "merge..." file in French GDAC MOVE2 directory"
From Mantis

[2016-10-11 20:37] dpsnowden opened #44 "Investigate sediment trap data management protocols"
From Mantis
- obtain standard_name and document existing QC practices

@tcarval  you initiated this issue in Mantis and suggested Mickael GARO as assignee.  Can you suggest a way to get him involved in this?  The issue isn't total clear from the short description.

[2016-10-11 20:39] dpsnowden opened #45 "Triton data : work with jamstec to initiate the dataflow to GDAC"
From Mantis

[2016-10-11 20:49] dpsnowden commented on #5
Update from @ngalbraith  via email on 10/11/2016
This has been done.The attributes all have a note about where they come
from, or if they're of especial importance to the GDACs (used in software).
Nan

Not closing this issue until we decide if and how to create the Users Guide.

[2016-10-12 14:25] tcarval commented on #42
Done, CCE1_sos directory was removed mounths ago.
This bug can can be closed.

[2016-10-12 14:27] tcarval commented on #43
Done. This bug can be closed.

[2016-10-12 14:34] #42 closed, assigned to tcarval

[2016-10-12 14:36] tcarval commented on #45
Corentin is contacting Paul and Dai to setup the link TRITON - PMEL - OceanSITES.

**Paul Freitag agreement to provide TRITON data through PMEL, 22/03/2016**
Hi Paul,
Thank you very much for this proposal.
I confirm that this is an excellent option for Ifremer users (such as Copernicus marine service and Mercator).
It is consistent with PIRATA and RAMA.

As you mention, OceanSITES data system prom

[2016-10-12 14:41] tcarval commented on #40
Message from Martin Moritz, NACLIM to Corentin:
_"The data will not be made freely available until the end of the NACLIM project which is in January 2017. I will then submit the (updated) time series to you."_

This action is pending.

[2016-10-12 14:44] tcarval commented on #39
NACLIM data should be available by January 2017.

OSNAP data : Corentin contacts Helen Snaith

[2016-10-12 14:52] tcarval commented on #28
ERDDAP server is installed in Ifremer.
http://www.ifremer.fr/erddap

As a starting point, it distributes data from W1M3A mooring site.
But, fill_values are not correctly managed.
http://www.ifremer.fr/erddap/tabledap/oceansitesW1M3A_Tabledap.graph?time%2CTEMP&time%3E=2000-08-22T00%3A00%3A00Z&time%3C=2016-08-29T00%3A00%3A00Z&.draw=lines&.color=0x000000&.bgColor=0xffccccff

We are in contact with Ke

[2016-10-12 14:57] hmsnaith commented on #37
Ok - needs admin / write permission!

[2016-10-12 14:58] #37 closed

[2016-10-12 14:58] tcarval commented on #18
We should proceed step by step.
1. Get a DOI for OceanSITES GDAC data
2. Provide the DOI to B2FIND (EU EUDAT cloud infrastructure catalogue).
EUDAT : the collaborative Pan-European infrastructure for research

That is what we did for Argo.
Argo GDAC DOI: http://doi.org/10.17882/42182
This DOI is provided by Seanoe, a data publisher: http://www.seanoe.org/
EUDAT harvests Seanoe catalogue, and displ

[2016-10-12 15:07] tcarval commented on #3
Answer to @dpsnowden : there is no equivalent at Ifremer of the NDBC info page. There is no strong reason to have one, the "master" OceanSITES web site is http://www.oceansites.org/

[2016-10-12 15:18] dpsnowden commented on #3
OK, @cgallage and @tcarval feel free to close issues when you complete them.

We will  create a separate issue to update the web site with the ERDDAP links when they are available.

[2016-10-12 15:18] #3 closed

[2016-10-12 15:45] #43 closed, assigned to tcarval

[2016-10-13 14:57] dpsnowden commented on #5
Closing based on @ngalbraith email on 10/13.

[2016-10-13 14:57] #5 closed

[2017-01-10 14:27] ngalbraith commented on #31
Please spell out acronyms - I may not be the only member who has no idea what SOOS is. The DMT has members from a diverse set of agencies, countries, and disciplines, and acronyms are not as clear to all of us as one might assume.

[2017-01-10 14:56] dpsnowden commented on #31
SOOS is the Southern Ocean Observing System.  Bob W brought this up at the last meeting in Southampton and may be the best person for identifying the POC of the SOOS moorings.  Pip as I recall.

[2017-02-08 14:24] tcarval commented on #28
We installed the ERDDAP version 1.74 to fix the fill_value issue.
But the problem is still there.
http://www.ifremer.fr/erddap/tabledap/oceansitesW1M3A_Tabledap.graph?time%2CTEMP&time%3E=2000-08-22T00%3A00%3A00Z&time%3C=2016-08-29T00%3A00%3A00Z&.draw=lines&.color=0x000000&.bgColor=0xffccccff
(see the temperature chart)

[2017-02-08 14:36] nanderson123 commented on #28
Thierry,
Is there a way to specify that all values with absolute value over, say, 1e33, are treated as NaN/missing?  It appears that this dataset contains some extreme negative values (-1e35?) mixed with the actual data.

[2017-02-08 14:46] tcarval commented on #28
If we take the example the temperature variable from ftp://ftp.ifremer.fr/ifremer/oceansites/DATA/W1M3A/OS_W1M3A_2004_R.nc

The fill value for NaN/missing is set to 99999.f :
	float TEMP(TIME, DEPTH) ;
		TEMP:standard_name = "sea_water_temperature" ;
		TEMP:units = "degree_Celsius" ;
		TEMP:_FillValue = 99999.f ; ...
I think that ERDDAP should ingnorethe temperature values of "99999" (they are fil

[2017-07-13 13:55] hmsnaith commented on #39
OSNAP data are next on my list of 'to do' OceanSITES submission, once the NRT PAP data are flowing correctly...

[2017-07-13 13:58] hmsnaith commented on #22
Any movement on this?
As others probably have, I have a script (Matlab) to set the wmo code for moorings I (or Maureen) have some responsibility for. Would it be useful to put that code in to software repository?

[2017-07-13 14:00] hmsnaith commented on #18
As per discussions at AtlantOS, some providers already have DOIs for their data through other routes - so a single DOI for OceanSITES GDAC holdings might not be the best option

[2017-11-22 12:04] hmsnaith commented on #22
i think this should now be addressed through the new JCOMMOPS metadata site.
However, it's not clear to me where the codes are populated from.
These should be linked to a vocab server than will confirm correct codes are used, or recognise when a new code is required

[2017-11-22 12:07] hmsnaith commented on #36
In theory, we can start to use the JCOMMOPS site for this.
Planned / expected can be entered, and then the data actually delivered should be pulled from the data once delivered.
It's not clear to me how any manually entered records (planned deployments, instrumentation deployed etc) will be linked to data actually delivered, especially where there are NRT and DM data for the same deployment.

[2018-07-05 12:29] tcarval commented on #45
Done by way of PMEL which deliver Triton data along Pirata and Rama.
Derrick, can you close that issue ?

[2018-07-05 12:33] tcarval commented on #40
The Nacclim data is available here:
ftp://ftp.ifremer.fr/ifremer/oceansites/DATA/NACLIM/

They were delivered in June 2017.
This action may be transfered to Kevin for ERDDAP connectivity.

[2018-07-06 09:21] MBARIMike commented on #12
During the Kiel meeting the `compliance_report.py` script was updated to work in an Anaconda Python 3.6 environment using the current IOOS compliance-checker API. See https://github.com/oceansites/software/issues/4 for the details.

It would be nice to have the script run faster. I'll probably open another software issue to track that effort.

[2018-07-06 09:59] #45 closed, assigned to jing-at-ndbc, tcarval

[2018-07-06 10:02] tcarval commented on #44
DATA/DYFAMED has sediment trap data.

[2018-07-06 10:02] #44 closed, assigned to nobody

[2018-07-06 10:04] tcarval commented on #41
Available on GDAC

[2018-07-06 10:04] #41 closed, assigned to matthiaslankhorst

[2018-07-06 10:07] tcarval commented on #40
Nacclim data are available in the DATA directory.
The ERDDAP connection is a separate action.

[2018-07-06 10:07] #40 closed, assigned to tcarval

[2018-07-06 10:13] tcarval commented on #36
Assign this action to Long

[2018-07-06 10:14] tcarval commented on #35
Assign to JCOMMOPS - Long

[2018-07-06 10:18] tcarval commented on #34
From Kiel meeting :

- Display some timeseries on oceansites.org
- Link to GitHub
- Link to NDBC ftp
-

[2018-07-06 10:19] tcarval commented on #32
The dmt mailing list is today the actual helpdesk for data management issue.

[2018-07-06 10:19] #32 closed

[2018-07-06 10:21] tcarval commented on #31
The notes on how to go forward will be in the Kiel meeting report.

[2018-07-06 10:23] kevin-obrien commented on #28
Make sure also that the ERDDAP instance appears on OceanSITES website...

[2018-07-06 10:25] tcarval commented on #27
Calculate this statistics on long time series available in the DATA_GRIDDED directory and put the result on the web site.

[2018-07-06 10:28] kevin-obrien opened #46 "Prototype display of long time-series on OceanSITES websites"
Create prototype method of displaying the long time series on the OceanSITES websites.  This may will hopefully increase motivation for OceanSITES PIs to create and make available through GDAC

[2018-07-06 10:29] tcarval commented on #24
Assign the action to Long

[2018-07-06 10:30] tcarval commented on #23
JCOMMOPS action for Long

[2018-07-06 10:31] tcarval commented on #22
The metadata spreadsheet is no more used.

[2018-07-06 10:31] #22 closed

[2018-07-06 10:31] #21 closed

[2018-07-06 10:36] tcarval commented on #20
No more interest

[2018-07-06 10:36] #20 closed

[2018-07-06 10:37] tcarval commented on #19
Should be done throuh JCOMMOPS, assign to Long

[2018-07-06 10:38] tcarval commented on #18
Not important issue.

[2018-07-06 10:38] #18 closed

[2018-07-06 10:38] #17 closed

[2018-07-06 10:39] tcarval commented on #15
Presented in Kiel.

[2018-07-06 10:39] #15 closed

[2018-07-06 10:42] tcarval commented on #9
Link to Ifremer NetCDF checker DOI
http://doi.org/10.17882/45538

[2018-07-06 10:44] tcarval commented on #8
Assign to Steve

[2018-07-06 10:45] tcarval commented on #4
This could be closed, the documentation is well organized

[2018-07-06 10:47] tcarval commented on #1
Duplicates a previous action.

[2018-07-06 10:47] #1 closed

[2018-07-10 18:07] nanderson123 commented on #27
As of July 10, 2018, there are 5 folders in DATA_GRIDDED:
KEO, PAPA, PIRATA, RAMA, and TRITON, with a files per folder breakdown of:
 9         11       115         126                19

Adding these up, there are 280 files according to the index file.  The mode breakdown is:
181 delayed mode, 99 realtime

The breakdown of standard names is shown below.  This is what's in the files, and I haven't

[2018-07-10 21:54] nanderson123 commented on #27
Here's a quick summary of DATA_GRIDDED.  Others may want to check the work (zipped .m file).  This is based off the index file from NDBC's ftp site (attached), shortened to include only DATA_GRIDDED files.  It does not guarantee data are present (variables could be NaN-filled).  The distribution appears trimodal, with concentrations of time-series at ~1, ~11, and ~18 yrs.  This is likely due to th

[2018-08-01 15:31] ngalbraith commented on #27
Why don't we calculate the number of years of data at all the sites, not just the ones that are currently presented as long time series files in the 'gridded' or 'product' directories? We have uploaded met data for Stratus and NTAS  starting in 2000 and 2001, respectively. The time-merged versions of these will be submitted ... very soon, but the data is already there, in the 'data' directory.

[2018-10-02 16:04] nanderson123 commented on #27
Here's a short summary of DATA.  Again, interpret cautiously, and provide feedback.  For example, a large number of 8 hr files biases statistics.  A few index file entries were corrupt, or not parsed correctly due to an incorrect number of entries (~1%).

![data](https://user-images.githubusercontent.com/20190057/46360881-33cb9300-c621-11e8-9cda-7a44fbd73008.png)

[DATA_writeup.docx](https://githu

[2018-10-04 18:18] MBARIMike commented on #27
I'm curious about what techniques are used to combine multiple deployments into a single long time series file. In the past I've used Ferret because of its re-gridding functions. What is your tool of choice?

[2018-10-05 14:25] ngalbraith commented on #27
We do this 'manually' in Matlab.

As part of the process, we turn some of the fields, like sensor heights,
water
depth, range ring size,  serial numbers, surface current velocity depth and
instrument model, deployment and recovery cruises, etc etc, into
arrays.  I'm
sure Ferret could do that too, but I'm not sure if our files are
Ferret-friendly.

I don't do the actual merging, but I'm cc'ing the

[2018-10-11 16:29] MBARIMike commented on #27
Thanks for sharing @ngalbraith !

This question seems to also apply to https://github.com/oceansites/dmt/issues/28 and https://github.com/oceansites/dmt/issues/46.

[2018-11-28 20:52] dpsnowden commented on #4
Agreed, closing.  @tcarval

[2018-11-28 20:52] #4 closed

[2018-11-28 21:21] dpsnowden opened #47 "Explore further DOIs for OceanSITES data sets"
@tcarval please post your presentation here.

This is an action item from the Kiel meeting.  We are to come pup with a plan to assign and manage DOIs for OceanSITES data sets.  We have had many discussions but we've never written down exactly what we will attempt to do.

[2018-11-29 09:29] tcarval commented on #47
Here are the two presentations on DOI presented in Kiel meeting. The first one is derived from the second (initialy presented in AtlantOS EU project).

[2-OceanSItes-DOI.pptx](https://github.com/oceansites/dmt/files/2628407/2-OceanSItes-DOI.pptx)
[2-OceanSItes-DOI-ATlantOSproposal.pptx](https://github.com/oceansites/dmt/files/2628404/2-OceanSItes-DOI-ATlantOSproposal.pptx)

[2018-11-29 09:29] #47 closed, assigned to tcarval

[2019-04-23 15:14] ngalbraith commented on #11
This issue can be closed, the global attribute oceansites_version is not in the current version of the Data Format Reference Manual, Version 1.3, January 12, 2015, as served on the  OceanSITES web site.

[2019-04-23 15:14] #11 closed

[2019-04-23 15:26] ngalbraith opened #48 "long time series files metadata and file names"
Suggest a method for including metadata about individual deployments by providing a sample CDL file. Here's a strawman ( but please see links to updated versions, below)

[OS_Stratus_201104-201804_D_FLTS-1D_longcdl.txt](https://github.com/oceansites/dmt/files/3108284/OS_Stratus_201104-201804_D_FLTS-1D_longcdl.txt)

[2019-04-23 16:04] ngalbraith commented on #36
Some instruments are deployed with no expectation of publishing the data. These may be instruments being field tested, or a PI may offer space on a mooring to someone who is not part of  OceanSITES. Data may be available by request, so the information on its deployment should be made public, but don't punish a PI (or the OS project overall) for not publishing ALL the data from all deployed instrum

[2019-04-23 16:43] ngalbraith commented on #48
Discussion of file names for LTS data files
Matthias - file naming and organization of DATA_GRIDDED PPTX
https://docs.google.com/presentation/d/1iYvZ14D9ABXpy5bMUv9egfMJ630t8uAuhbz7DJotxuE/edit?usp=sharing
How to indicate long time-series (level 3) and derived (level 4) products in their file names? Cf. present file names for deployment-by-deployment (level 2) files: OS_MOVE1_12_D_MICROCAT.nc
OS_K

[2019-05-29 18:32] ngalbraith opened #49 "Strawman LTS CDL"
[OS_Stratus_201104-201804_D_FLTS-1D_longcdl.txt](https://github.com/oceansites/dmt/files/3233912/OS_Stratus_201104-201804_D_FLTS-1D_longcdl.txt)

[2019-05-29 18:33] ngalbraith commented on #49
netcdf OS_Stratus_201104-201804_D_FLTS-1D {
dimensions:
	TIME = 2558 ;
	Deployment = 6 ;
	strlen18 = 18 ;
	strlen21 = 21 ;
	strlen23 = 23 ;
	strlen27 = 27 ;
	strlen33 = 33 ;
	LATITUDE = 1 ;
	LONGITUDE = 1 ;
variables:
	double TIME(TIME) ;
		TIME:long_name = "time" ;
		TIME:standard_name = "time" ;
		TIME:units = "days since 1950-01-01 00:00:00" ;
		TIME:calendar = "gregorian" ;
		TIME:valid_min =

[2019-05-29 18:33] #49 closed, assigned to nobody

[2019-07-16 18:13] ngalbraith commented on #48
In reply to Jeff: Add 'L3_' in place of 'deployment' for long time-series/gridded files. Add 'L4_' in place of 'deployment' for derived files.
Different groups may have different numeric codes for processing level; we settled on letters that have some intrinsic meaning because of our experience with QC codes, where the codes could so easily be misunderstood. Also, a close look at the levels (in Ma

[2019-07-18 15:44] ngalbraith commented on #48
New example CDL files:
[met](http://uop.whoi.edu/ReferenceDataSets/ntas/OS_NTAS_200103-201205_D_MLTS-1H.cdl)
[flux](http://uop.whoi.edu/ReferenceDataSets/ntas/OS_NTAS_200103-201205_D_FLTS-1D.cdl)
Please comment, especially if there is anything unclear about how these are structured or what the fields represent.

[2019-07-18 15:49] ngalbraith commented on #28
Just wondering, does errdap NOT look at the _FillValue field?

[2019-07-18 23:10] petejan commented on #28
Hi Nan,

My understanding is that the downstream tools should fill with the _FillValue when the data is outside the valid_max and valid_min range. If you want the downstream tools to fill with NAN then set the _FillValue to NaN. If you per-fill the array with _FillValue then any missing values end up being set to the _FillValue, _FillValue should be outside the valid_max and valid_min range.

Pete

[2019-07-23 03:55] petejan commented on #48
nice example files,

Should the **Deployment** variable have dimensions of **TIME** so that you can find out which deployment the **TIME** sample came from?

I add a \n at the end of each **history** global attribute entry to the text is easier to divide up.

Also I think the **FillValue** should be **_FillValue** (the underscore is needed) this maybe why its not being applied in your email questi

[2019-07-23 13:25] ngalbraith commented on #28
Hmm, I think _FillValue is defined a little differently.

From the NUG [Users Guide](https://www.unidata.ucar.edu/software/netcdf/docs/fill_values.html)

'Sometimes there are missing values in the data, and some value is needed to represent them.
... In netCDF,  you can create an attribute for the variable (and of the same type as the variable)
called “_FillValue” that contains a value that you ha

[2019-07-23 14:06] ngalbraith commented on #48
Thanks - good catch on FillValue - not sure how that happens, I should probably check all my NetCDF files.

The Deployment variable is definitely not well described (it doesn't even have a long name!), so thank you for helping me see that.

It's a 'container variable', meant to hold the details about the deployments that went into the LTS file. It's also a dimension, which allows me to provide the

[2019-07-23 23:17] petejan commented on #48
Is there some reason you need Deployment to be a netCDF coordinate variable (ie a variable with the same name as a dimension)? It not a geographic coordinate its sort of a time coordinate, but you already have one of those.

Why not have a dimension of Deployment and a variable deployment_number(TIME) with the same attributes as your Deployment variable? This is like the [Indexed ragged array repr

[2019-07-23 23:41] petejan commented on #28
Yes thanks, _FillValue was not defined the way I had thought. I was confused by using python, an example,

[code]
Using ncgen and ncdump I get this output,

[code]
so the _ is being put in place of _FillValue,

but with python netCDF4 it will mask values with _FillValue and outside valid_range unless I change the mask

Here is the issue discussion with python https://github.com/Unidata/netcdf4-pyt

[2019-09-11 16:24] MBARIMike opened #50 "Describe how you convert instrument data to OceanSITES format"
We have all written code in Matlab, Python, Perl, etc. to read data produced by an instrument and write it out in OceanSITES netCDF format. There is maybe an opportunity to consolidate our efforts, or to at least share our code so that we can help others get over this hurdle.

[2019-09-11 16:25] MBARIMike commented on #50
Here is a Seabird library in the Python Package Index: https://pypi.org/project/seabird/

I dove into the documentation a bit and found this Jupyter Notebook that demonstrates its use:
https://nbviewer.jupyter.org/github/castelao/seabird/blob/master/docs/notebooks/BasicsReadingData.ipynb

[2019-09-20 18:24] ngalbraith opened #51 "Supply JCOMMOPS with metadata to improve OS metrics"
The JCOMMOPS data portal (JDP) is built on a database that uses a schema that is very unlike the OceanSITES NetCDF specification.

Making use of JDP is not driven by the science behind OceanSITES but by the funding/visibility and promoting the usefulness of OceanSITES as an integral part of the global ocean observing effort. For this reason the DMT will propose modifications or additions to our fo

[2019-09-20 19:14] ngalbraith commented on #51
2. Deployment and recovery information

JDP wants explicit ship/cruise information to help support ship operators. This meetadata also provides access, in some cases, to related shipboard data.

There are different descriptions of the expocode on line. See https://exchange-format.readthedocs.io/en/latest/parameters.html#expocode
"Usual generation formula is ICES 4 character platform code then the

[2019-09-22 23:31] petejan commented on #51
I have been using the variable::attribute approach to recording sensor information, because I find it easier to read and explain to data end users. Where I have multiple instances (depths) of instruments recording say sea_water_temperature, then I separate these with ; so in your example TEMP:sensor_model = "TR1060 ; SBE37 ; SBE16 "; Although using sensor_model there is no real connection between

[2019-09-23 08:22] hmsnaith commented on #51
Hi all

I also prefer this approach, using the variable attribute as I find it much clearer when reading the files.
The separate variable approach I find quite confusing

Helen
Dr Helen Snaith

British Oceanographic Data Centre,
National Oceanography Centre, Southampton SO14 3ZH
Tel: +44 2380 596410
h.snaith@bodc.ac.uk<mailto:h.snaith@bodc.ac.uk>

On 23 Sep 2019, at 00:31, Peter Jansen <notificati

[2019-09-23 14:49] ngalbraith commented on #51
Using semi-colon separated lists is fine, but when you get up to about 20 instruments, it can be very hard to parse. Also, in some cases of met data, where we deploy redundant instruments, we patch in data from more than one sensor; this would not be very easy to do (clearly) with the list approach. As far as I know, we're fine having 2 different ways to document instruments in our format.

I can

[2019-09-27 15:53] ngalbraith commented on #51
One more point - the concept of using a variable to contain instrument information isn't ours,
we adopted it from the US  NCEI (formerly NODC). They introduced the idea when they were
developing their NetCDF templates, as far as I know.

[2019-11-19 19:36] ngalbraith commented on #51
This is a really good idea, Helen. It would be fairly easy to generate the missing information, using a script to see what data variables are in each file.

[2022-07-27 13:44] ngalbraith opened #52 "Make oceansites_index.txt file URL public"
Chrome and Firefox have both discontinued support for ftp, so the published URL, ftp://data.ndbc.noaa.gov/data/oceansites is effectively defunct. (Note: On a Mac, browsers do offer to open the link in the Mac 'Finder' app, but trying to do that as a guest fails – with the error ‘The share does not exist on the server’.)

A URL that does work, without NDBC log in credentials, is https://www.ndbc.no

[2022-07-27 14:14] hmsnaith commented on #52
Would the threads server address be more useful?
https://dods.ndbc.noaa.gov/thredds/catalog/data/oceansites/catalog.html

[2022-07-27 14:25] ngalbraith commented on #52
To the human eye, the catalog displays only a list of site names. Although the index file is a blunt instrument, it has metadata that can be used to find out what we have, when and where it was collected, and when it was updated. That info is more helpful than a list of site names. Unless we provided a link to a script that could process the catalog, I think we're better off posting a link to the